@model IEnumerable<BugTrackerProject.Models.Ticket>

@{
    ViewBag.Title = "ListOfTickets";
}

<h2>ListOfTickets</h2>

@if (ViewBag.Submitter != null || ViewBag.Demo != null)
{
    <p>
        @Html.ActionLink("Create New Ticket", "CreateTicket")
    </p>
}

<input type="hidden" value="@ViewBag.conditionInput" id="hiddenId"/>

<table id="userTable">
    <thead>
        <tr>
            <th> Title </th>
            <th> Description </th>
            <th> Created </th>
            <th> Updated</th>
            <th> ProjectName </th>
            <th> Ticket_Type_Name </th>
            <th> Ticket_Priority_Name </th>
            <th> Ticket_Status_Name </th>
            <th> Assigned_Developer </th>
            <th> Ticket_Owner </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th> Title </th>
            <th> Description </th>
            <th> Created </th>
            <th> Updated</th>
            <th> Project Name </th>
            <th> Ticket_Type_Name </th>
            <th> Ticket_Priority_Name </th>
            <th> Ticket_Status_Name </th>
            <th> Assigned_Developer </th>
            <th> Ticket_Owner </th>
        </tr>
    </tfoot>
    <tbody id="tBody">

    </tbody>
</table>


<script>
    $.noConflict();
    $(document).ready(function () {
        $('#userTable').dataTable({
            "processing": true,
            "serverSide": true,
            "info": true,
            "stateSave": true,
            "lengthMenu": [[10, 20, 30,40,50,60,70,80,90,100 -1], [10, 20, 30,40,50,60,70,80,90,100, "All"]],
            "ajax":{
                "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/Users/AjaxGetJsonData",
                "type": "POST"
            },
            "columns": [
                { "data": "Title", "orderable" : true },
                { "data": "Description", "orderable": false },
                { "data": "Created", "orderable": true },
                { "data": "Updated", "orderable": true },
                { "data": "Project Name", "orderable": true },
                { "data": "Ticket Type Name", "orderable": true },
                { "data": "Ticket Priority Name", "orderable": true },
                { "data": "Ticket Status Name", "orderable": true },
                { "data": "Assigned Developer", "orderable": true },
                { "data": "Ticket Owner", "orderable": true }
            ],
            "order": [[0, "asc"]]
        });
    });
</script>

